<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHeWTSFYQNyxh8zLQxRrVuipaZqcI3SXA</string>
	<key>GCM_SENDER_ID</key>
	<string>640744924529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.negocio.adminApp</string>
	<key>PROJECT_ID</key>
	<string>tiendita-2-n990pe</string>
	<key>STORAGE_BUCKET</key>
	<string>tiendita-2-n990pe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640744924529:ios:b61032fc4d94fd7a4282d0</string>
</dict>
</plist>